body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #320083;
}

.container_first {
    width: 1166px;
    height: 700px;
    border: 1px solid #ccc;
    position: relative; /* Set position to relative for absolute positioning of the image */
    overflow: hidden; /* Hide any overflow content */
    background:url('/static/image/background_image/Untitled_1.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
}



.login-container {
    height: 460px;
    width: 300px;
    display: flex;
    margin-right:855px;
    margin-top:160px;
    color:#3A5EBE;
    padding-top:50px;
    flex-direction: column;


}



.button {
  width:110px;
  height:110px;

  padding: 10px 20px; /* Adjust padding as needed */

  border: 2px solid #000;
  border-radius:55px;
  opacity:0.01;
  color: #fff; /* Black text color */
  background-color: #E39749; /* Transparent background */
  cursor: pointer;
  position: absolute; /* Set the position to absolute */
  bottom: -30px; /* Align the button 50px above the bottom */
  margin-bottom: 105px; /* Add margin for spacing (adjust as needed) */
  margin-left:513px;
}
