body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #320083;
}

.container_first {
    width: 1166px;
    height: 700px;
    border: 1px solid #ccc;
    position: relative; /* Set position to relative for absolute positioning of the image */
    overflow: hidden; /* Hide any overflow content */

    background-repeat: no-repeat;
    background-size: cover;
}

.container-1{
    display: flex;
    position:absolute;
    margin-left:242px;
    margin-top:345px;
    color:#320083;

}
.container-2{
    display: flex;
    position:absolute;
    margin-left:238px;
    margin-top:417px;
    color:#320083;

}

h4{
    font-size:1rem;
}

h5{
    font-size:0.8rem;
    text-align:center;
    margin-top:8px;
    margin-left:10px;
}

h6{
    font-size:0.8rem;
    text-align:center;
    margin-top:8px;
    margin-left:20px;
}

h7{
    font-size:1.5rem;
    text-align:center;
    margin-top:5px;
    margin-left:50px;
}

.horizontal-cont{

    background-color: #fff;
    position:absolute;
    border:2px solid #425DB8;
    height:505px;
    width:140px;
    margin-left:813px;
    margin-top:132px;
    overflow-x: scroll;

}
.horizontal-cont-1{

    background-color: #fff;
    position:absolute;
    border:2px solid #425DB8;
    height:505px;
    width:140px;
    margin-left:957px;
    margin-top:132px;
    overflow-x: scroll;

}

.card {
            width: 110px;
            height: 150px;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-left:5px;
            margin-top:10px;
        }
.image-container {
            width: 100%;
            height: 120px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.image-container img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

.label-container {
            width: 100%;
            height: 30px;
            color:#fff;
            background-color: #FF4600;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.heading-cont{
    display:flex;
    position:absolute;
    background-color:#320083;
    text-align:center;
    color:#fff;
    width:140px;
    height:30px;
    margin-left:813px;
    margin-top:108px

}

.heading-cont-1{
    display:flex;
    position:absolute;
    background-color:#320083;
    text-align:center;
    color:#fff;
    width:140px;
    height:30px;
    margin-left:957px;
    margin-top:108px

}

.heading-cont-3{
    display:flex;
    position:absolute;
    background-color:#FF4600;
    text-align:center;
    color:#fff;
    width:300px;
    height:38px;
    margin-left:805px;
    margin-top:58px

}