body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #320083;
}

.container_first {
    width: 1166px;
    height: 700px;
    border: 1px solid #ccc;
    position: relative; /* Set position to relative for absolute positioning of the image */
    overflow: hidden; /* Hide any overflow content */
    background:url('/static/image/background_image/Untitled_0.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width:200px;
    margin-left:483px;
    margin-top:220px;

    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position:relative;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}