<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_2.css') }}">
    <title>Category</title>
  </head>

  <body>

    <div class="container_first">
      <div class="login-container">


        <form method="POST" class="sub-category" >
          <div class="checklist">
            {% for post in posts %}
              <input type="checkbox" value="{{ post }}" name="checkbox_1" ><b> {{ post }}  </b>
              <br>
            {% endfor %}
          </div>
          <br>
          <button type="submit" class="button"></button>
        </form>


        </div>

    </div>
  </body>
</html>